/*************
     utilities 
************/

*{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
.btn {
    letter-spacing: 1px;
    padding: 8px 25px;
}
.bg-pink{
    background:#fceae8;
}
.bg-pink-grad{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
}


/************
     Navigation design 
***************/
nav{
    z-index: 10!important;
}
.navbar-toggler{
    border: none;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.nav a{
    color: #3e3e3e;
    font-weight: 500;
}

/************
 carousel 
 ******************/
 .slider{
    margin-top: 100px;
 }



/************
     Categories  
**********/
.categories img {
    width: 100px;
}

/* Subscribe */
.form-control {
    padding: 10px 25px;
}
.form-control:focus{
    box-shadow: none;
}

/* toast */
#toast{
    z-index: 99;
}
#cart::-webkit-scrollbar{
    display: none;
}
.cart{
    width: 350px;
    display: none;
    max-height: 350px;
    overflow-y: scroll;
    padding: 10px;
    background: white;
    position: fixed;
    top: 10%;
    right: 0;
    z-index: 99;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    

}
.cart ul{
    list-style: none;    
    padding: 10px;
    margin: 0;
}
.cart-item:first-child{
    margin-bottom: 20px;
    border-bottom: none;
}
.cart-item{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 5px 0;
    border-bottom: 1px dashed rgb(163, 163, 163);
      
}
.cross{

        margin-top: -6px;
        font-size: 10px;
}
i{
    cursor: pointer;
}
/* .form-control[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    width: 100%;
} */

/* Responsive css quireies */
@media (max-width: 575.98px) { 
    .carousel-item .row{
        height: 90vh;
     }
     
 }