/*************
     utilities 
************/

*{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
.btn {
    letter-spacing: 1px;
    padding: 8px 25px;
}
.bg-pink{
    background:#fceae8;
}
.bg-pink-grad{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
}


/************
     Navigation design 
***************/
.navbar-toggler{
    border: none;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.nav a{
    color: #3e3e3e;
    font-weight: 500;
}

/************
 carousel 
 ******************/
 .slider{
    margin-top: 100px;
 }



/************
     Categories  
**********/
.categories img {
    width: 100px;
}

/* Subscribe */
.form-control {
    padding: 10px 25px;
}
.form-control:focus{
    box-shadow: none;
}
/* .form-control[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    width: 100%;
} */

/* Responsive css quireies */
@media (max-width: 575.98px) { 
    .carousel-item .row{
        height: 90vh;
     }
     
 }