/*************
     utilities 
************/

*{
    margin: 0;
    padding: 0;
}
img{
    max-width: 100%;
}
.btn {
    letter-spacing: 1px;
    padding: 8px 30px;
}
.bg-pink{
    background:#fceae8;
}
.bg-pink-grad{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
}


/************
     Navigation design 
***************/
.navbar-toggler{
    border: none;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.nav a{
    color: #3e3e3e;
    font-weight: 500;
}

/************
 carousel 
 ******************/




/************
     Categories  
**********/
.categories img {
    width: 100px;
}



/* Responsive css quireies */
@media (max-width: 575.98px) { 
    .carousel-item .row{
        height: 90vh;
     }
    .carousel-item img{
        max-width: 70%;
        margin: 0 auto;
     }
     
 }